/* ABOUT SECTION */

.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 0 var(--margins);
}

.about-right {
    display: block;
    flex: 1 1 50%;
}

.about-left {
    display: block;
    flex: 1 1 50%;
}

.about-image {
    border: var(--borders) solid var(--accent);
    border-radius: 0.1rem;
    width: 100%;
    display: block;
}

@media screen and (min-width:1600px) {
    .about-wrapper {
        flex-direction: row;
    }
}

/* PORTFOLIO SECTION */

.portfolio-section {
    margin: 0 var(--margins);
}

#portfolio h2 {
    margin: 0 auto;
}

#portfolio-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(16px, 3vw, 64px);
    font-size: 16px;
}

.portfolio-card {
    height: 100vw;
    width: 100%;
    display: flex;
    background-color: var(--primary);
    position: relative;
    overflow: hidden;
    text-decoration: none;
    z-index: 1;
    border: var(--borders) solid var(--accent);
    border-radius: 0.1rem;
    box-sizing: border-box;
    transition: border-color 0.2s ease-in-out;
}

.portfolio-card:focus {
    border-color: var(--tertiary);
}

@media (hover: hover) and (pointer: fine) {
    .portfolio-card:hover {
        border-color: var(--tertiary);
    }
}

.portfolio-image {
    pointer-events: none;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.portfolio-content {
    position: absolute;
    bottom: 0;
    background-color: light-dark(var(--white-t), var(--black-t));
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    margin-top: auto;
    width: 100%;
    box-shadow: 0px 0px 50px var(--black);
    border-top: calc(var(--borders) * 0.75) solid var(--accent);
    padding-bottom: 0;
    transition: border-color 0.2s ease-in-out, padding-bottom 0.2s ease-in-out;
}

.portfolio-card:focus .portfolio-content {
    border-color: var(--tertiary);
    padding-bottom: 1em;
}

@media (hover: hover) and (pointer: fine) {
    .portfolio-card:hover .portfolio-content {
        border-color: var(--tertiary);
        padding-bottom: 1em;
    }
}

.portfolio-title {
    color: var(--dk-lt);
    opacity: 0.85;
    font-size: clamp(1.3em, 4vw, 2em);
    padding: 0.75em;
    margin: 0 auto;
}

@media screen and (min-width:1024px) {
    #portfolio-wrapper {
        flex-direction: row;
    }
    .portfolio-card {
        height: clamp(23em, 30vw, 40em);
    }
    .portfolio-title {
        font-size: clamp(1.5em, 2vw, 2.5em);
    }
}