/* PRICING SECTION */
#pricing {
    background-color: light-dark(var(--silver), var(--dark-gray));
    box-shadow: 0 0 8px 5px light-dark(var(--shadow), var(--deep-shadow));
    padding: 2rem 0;
}

#pricing h3 {
    color: light-dark(var(--dark-gold), var(--light-gold));
}

/* ABOUT SECTION */

.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 0 var(--margins);
}

.about-right {
    display: block;
    flex: 1 1 70%;
}

.about-left {
    display: block;
    flex: 1 1 30%;
}

.about-image {
    border-radius: var(--border-radius);
    width: 100%;
    display: block;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

@media screen and (min-width:1024px) {
    .about-wrapper {
        flex-direction: row;
    }
}

/* PORTFOLIO SECTION */

#portfolio h2 {
    margin: 0 auto;
}

#portfolio-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(16px, 3vw, 64px);
    font-size: 16px;
    margin: 2rem 0;
}

.portfolio-card {
    height: 100vw;
    width: 100%;
    display: flex;
    background-color: light-dark(var(--light-white), var(--light-black));
    position: relative;
    overflow: hidden;
    text-decoration: none;
    z-index: 1;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    transition: scale 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0.5em 0.5em 0.5em light-dark(var(--shadow), var(--deep-shadow));
}

.portfolio-image {
    pointer-events: none;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: scale 0.25s ease;
}

.portfolio-card:focus .portfolio-image {
    scale: 1.1;
}

@media (hover: hover) and (pointer: fine) {
    .portfolio-card:hover .portfolio-image {
        scale: 1.1;
    }
}

.portfolio-content {
    height: 20vw;
    position: absolute;
    bottom: 0;
    background-color: light-dark(var(--trans-black), var(--trans-dark-black));
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    margin-top: auto;
    width: 100%;
    box-shadow: 0px 0px 8px 2px light-dark(var(--shadow), var(--deep-shadow));
    border-top: 1px solid light-dark(var(--trans-gray), var(--trans-gray));
    padding-bottom: 0;
    transition: padding-bottom 0.3s ease;
}

.portfolio-title {
    color: light-dark(var(--white), var(--light-silver));
    font-size: 6vw;
    padding: 0.75em;
    margin: 0 auto;
}

@media screen and (min-width:1024px) {
    #portfolio-wrapper {
        flex-direction: row;
    }
    .portfolio-card {
        height: clamp(23em, 30vw, 40em);
    }
    .portfolio-content {
        height: auto;
    }
    .portfolio-title {
        font-size: max(1.5em, 2vw);
    }
    .portfolio-card:focus .portfolio-content {
    padding-bottom: clamp(1em, 1vw, 2em);
    }

    @media (hover: hover) and (pointer: fine) {
        .portfolio-card:hover .portfolio-content {
            padding-bottom: clamp(1em, 1vw, 2em);
        }
    }
}