.portfolio-galleries-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

@media screen and (min-width: 768px) {
    .portfolio-galleries-wrapper{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .portfolio-galleries-wrapper{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.gallery-card {
    aspect-ratio: 1 / 1;
    display: flex;
    background-color: var(--primary);
    position: relative;
    overflow: hidden;
    text-decoration: none;
    z-index: 1;
    border: var(--borders) solid var(--accent);
    border-radius: 0.1rem;
    box-sizing: border-box;
    transition: border-color 0.2s ease-in-out;
}

.gallery-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.gallery-content {
    position: absolute;
    bottom: 0;
    background-color: light-dark(var(--white-t), var(--black-t));
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    margin-top: auto;
    width: 100%;
    box-shadow: 0px 0px 50px var(--black);
    padding-bottom: 4rem;
    transition: border-color 0.2s ease-in-out, padding-bottom 0.2s ease-in-out;
}

.gallery-title {
    margin: 0 auto;
}