/* ----CSS RESET---- */

    /* 1. Use a more-intuitive box-sizing model */
    *, *::before, *::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    }

    /* 2. Remove default margin */

    * {
    margin: 0;
    }

    body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    }

    /* 3. Improve media defaults */
    
    img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    }

    /* 4. Inherit fonts for form controls */

    input, button, textarea, select {
    font: inherit;
    }

    /* 7. Avoid text overflows */

    p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    }

    /* 8. Improve line wrapping */

    p {
    text-wrap: wrap;
    }

    h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    }

    /* 9. Reset buttons and anchors */

    a, button {
    color: inherit;
    text-decoration: none;
    border: none;
    padding: 0;
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
    }

    /* 10. Reset unordered lists */

    ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }







/* BREAKPOINTS */
/* 320 360 768 1024 1400 1920 */


/* ----GENERAL HTML STYLES---- */

::selection {
    color: var(--white);
    background-color: var(--gold-t);
}

*:focus-visible {
    outline: 2px solid var(--gold);
    border-radius: 0.1rem;
}

body {
    background-color: var(--primary);
    color: var(--secondary);
}

h1, h2, h3, h4 {
    display: block;
    width: fit-content;
}

h1 {
    color: var(--dk-lt);
    font-size: clamp(1.5rem, 8.5vw, 4.5rem);
    text-align: center;
}

h2 {
    color: var(--tertiary);
    font-size: clamp(2rem, 4vw, 3rem);

}

h3 {
    color: var(--secondary);
    font-size: clamp(1.5rem, 3vw, 2.25rem);
}

p {
    color: var(--secondary);
    font-size: clamp(1rem, 2vw, 1.5rem);
}

/* ----HEADER STYLES---- */

header {
    background-color: var(--secondary);
}

.hero {
    height: clamp(18rem, 30vw, 36rem);
    background-image: conic-gradient(light-dark(var(--white-t), var(--black-t)), light-dark(var(--white-t), var(--black-t))), url("images/sampleIMG.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 1rem 0;
}

/* NAVIGATION STYLES  */

.nav-wrapper {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
    top: 0;
}

#navigation {
    background-color: light-dark(var(--secondary), var(--accent));
    border: 1px solid light-dark(var(--secondary), var(--accent));
    width: 100%;
    padding: clamp(0.5rem, 2vw, 1.2rem) 0;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.6);
    font-size: 16px;
}

.nav-bar {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 var(--margins);
}

    /* SVG STYLES */

        /* LOGO DEFAULT STYLES */

        .logo-mini {
            width: clamp(0.5em, 10vw, 4em);
            height: auto;
            display: block;
        }

        .logo-full {
            width: clamp(1em, 25vw, 18em);
            height: auto;
            display: none;
            visibility: hidden;
        }

        .logos {
            width: fit-content;
        }

        .lines, .text {
            transition: fill 0.2s ease-in-out;
        }

        @media (hover: hover) and (pointer: fine) {
            .logos:hover .lines, .logos:focus-within .lines {
                fill: light-dark(var(--white), var(--white));
            }

            .logos:hover .text, .logos:focus-within .text {
                fill: light-dark(var(--accent), var(--white));
            }
        }

        @media only screen and (min-width:360px) {
            .logo-mini {
                display: none;
                visibility: hidden;
            }

            .logo-full {
                display: block;
                visibility: visible;
            }
        }

/* NAVIGATION MENU */

ul.nav-menu {
    width: fit-content;
    display: flex;
    gap: 1em;
    align-items: center;
    margin: 0 0 0 auto;
}

.theme-checkbox-wrapper {
    display: block;
    position: relative;
    width: calc(clamp(0.55em, 3vw, 1.5em) + 2vw);
    height: calc(clamp(0.55em, 3vw, 1.5em) + 2vw);
    cursor: pointer;
}

.theme-checkbox-wrapper input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -1;
    width: calc(clamp(0.55em, 3vw, 1.5em) + 2vw);
    height: calc(clamp(0.55em, 3vw, 1.5em) + 2vw);
}

.theme-checkbox-wrapper svg{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: clamp(0.55em, 3vw, 1.5em);
    height: clamp(0.55em, 3vw, 1.5em);
    transform: translate(-50%, -50%);
}

.checked-light {
    position: relative;
    transform-origin: center;
    transition: fill 0.2s ease-in-out, transform 0.4s ease;
}

[data-theme='dark'] .checked-light{
    fill: var(--black);
    transform: rotate(180deg);
}
[data-theme='light'] .checked-light{
    fill: var(--gold);
    transform: rotate(360deg);
}

.nav-item {
    position: relative;
    padding: 0 calc(clamp(0.1em, 0.5vw, 0.75em) + 0.1rem);
    background-color: transparent;
    font-size: clamp(0.6em, 3vw, 2em);
    border-radius: 0.1rem;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.nav-item:focus-visible {
    fill: var(--white);
    color: var(--white);
}

.nav-item::after {
    content: '';
    width: 100%;
    max-width: 0;
    position: absolute;
    left: 0;
    bottom: -0.1rem;
    padding-top: clamp(0.2rem, 1vw, 0.4rem);
    border-radius: 0.1rem;
    background-color: light-dark(var(--accent), var(--white));
    transition: max-width 0.2s ease-in-out;
}

.nav-item:focus-visible::after {
    background-color: var(--white);
    max-width: 100%;
}

@media (hover: hover) and (pointer: fine) {
    .nav-item:hover, .theme-checkbox-wrapper:hover input:checked ~ svg .checked-light, .theme-checkbox-wrapper:hover input:not(:checked) ~ svg .checked-light {
        fill: var(--white);
        color: var(--white);
    }
    .nav-item:hover::after {
        background-color: var(--white);
        max-width: 100%;
    }
}

/* ---- MAIN ---- */

.top-section {
    margin-top: clamp(2rem, 8vw, 6rem);
}

.custom-btn {
    font-size: clamp(1.3rem, 4vw, 2rem);
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.01rem;
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 0.1rem;
    margin-top: 2rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.view-more {
    background-color: var(--accent);
    color: var(--black);
}

.view-more:focus-visible {
    background-color: var(--tertiary);
    color: var(--black);
}



@media (hover: hover) and (pointer: fine) {
    .view-more:hover {
        background-color: var(--tertiary);
        color: var(--primary);
    }
}



/* ----FOOTER---- */

footer {
    background-color: var(--accent);
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer p::selection, footer a::selection {
    color: var(--black);
    background-color: var(--white);
}

/* CONTACT SECTION */

#contact {
    margin: 0 var(--margins);
}

#contact h2 {
    color: var(--black);
    margin: 0 auto;
}

.contact-link {
    font-weight: 700;
    color: var(--black);
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    margin: 0 auto;
    background-color: var(--lt-dk);
    padding: 1rem;
    border-radius: 0.1rem;
}

#contact-form input, #contact-form textarea {
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem solid var(--dk-lt);
    width: 100%;
    display: block;
    resize: none;
}

#contact-form input::placeholder, #contact-form textarea::placeholder {
    color: light-dark(var(--black-t), var(--gray));
}
.required-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* .form-submit default properties found in .custom-btn */

.form-submit {
    background-color: light-dark(var(--red), var(--red));
    color: var(--white);
}

.form-submit:focus-visible {
    background-color: light-dark(var(--black), var(--red));
    color: var(--white);
}

@media (hover: hover) and (pointer: fine) {
    .form-submit:hover {
        background-color: light-dark(var(--black), var(--red));
        color: var(--white);
    }
}

.copyright {
    color: var(--black);
    margin-top: 3rem;
    opacity: 1;
}




