/* ----CSS RESET---- */

    /* 1. Use a more-intuitive box-sizing model */
    *, *::before, *::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    }

    /* 2. Remove default margin */

    * {
    margin: 0;
    }

    body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    }

    /* 3. Improve media defaults */
    
    img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    }

    /* 4. Inherit fonts for form controls */

    input, button, textarea, select {
    font: inherit;
    }

    /* 7. Avoid text overflows */

    p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    }

    /* 8. Improve line wrapping */

    p {
    text-wrap: wrap;
    }

    h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    }

    /* 9. Reset buttons and anchors */

    a, button {
    color: inherit;
    text-decoration: none;
    border: none;
    padding: 0;
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
    }

    /* 10. Reset unordered lists */

    ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }





:root {
    /* In HTML Docs */
    --gold: oklch(75.5% 23.5% 80);
    --white: oklch(97.2% 2% 78);
    --black: oklch(20% 1.5% 286);
    --silver: oklch(87% 2% 73);
    --gray: oklch(57% 1% 250);
    --red:oklch(38% 23% 21.5);
    --pink: oklch(51% 29% 21.5);

    color-scheme: dark light;

    --fonts:'Times New Roman', Times, serif;
    font-family: var(--fonts);

    /* CSS Variables */
    --dark-gold:oklch(59% 22.5% 80);
    --dark-white:oklch(94% 2% 78);
    --dark-black:oklch(10% 1.5% 286);
    --dark-red:oklch(34% 20% 21.5);
    --dark-pink: oklch(46% 27% 21.5);
    --dark-silver: oklch(84% 2% 73);
    --dark-gray: oklch(38% 0.5% 250);

    --light-gold:oklch(80% 24% 80);
    --light-white:oklch(98.5% 2% 78);
    --light-black:oklch(27% 1.5% 286);
    --light-red:oklch(45% 23% 21.5);
    --light-pink: oklch(56% 29% 21.5);
    --light-silver: oklch(92% 2% 73);
    --light-gray: oklch(65% 1% 250);

    --trans-gold: oklch(75.5% 23.5% 80 / 0.8);
    --trans-white: oklch(97.2% 2% 78 / 0.5);
    --trans-black: oklch(20% 1.5% 286 / 0.5);
    --trans-light-black: oklch(27% 1.5% 286 / 0.4);
    --trans-dark-black: oklch(10% 1.5% 286 / 0.75);
    --trans-gray: oklch(57% 1% 250 / 0.3);

    --mild-shadow:var(--trans-light-black);
    --shadow:var(--trans-black);

    --margins: max(0.5rem, 10vw);
    --borders: clamp(0.3em, 2vw, 0.65em);
    --border-radius: 1px;

    --nav-height: clamp(3rem, 12vw, 8.5rem);
}

/* BREAKPOINTS */
/* 320 360 768 1024 1400 1920 */


/* ----GENERAL HTML STYLES---- */

::selection {
    color: var(--white);
    background-color: var(--trans-gold);
}

*:focus-visible {
    outline: 2px solid var(--gold);
    border-radius: var(--border-radius);
}

body {
    background-color: light-dark(var(--dark-white), var(--light-black));
    color: light-dark(var(--black), var(--white));
    transition: background-color 0.2s ease;
}

main {
    margin-top: calc(-1 * var(--nav-height));
}

main > section {
    margin-top: 2rem;
}

section > div {
    margin: 0 var(--margins);
}

h1, h2, h3, h4 {
    display: block;
    width: fit-content;
}

/* Default h1 styles */

h1 {
    color: light-dark(var(--white), var(--white));
    font-size: clamp(1.5rem, 8.5vw, 4.5rem);
    text-align: center;
}

/* h1 hidden */

.visuallyhidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0 0 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

h2 {
    color: light-dark(var(--light-black), var(--dark-white));
    font-size: clamp(2rem, 4vw, 3rem);
}

h3 {
    color: light-dark(var(--light-red), var(--pink));
    font-size: clamp(1.5rem, 3vw, 2.25rem);
}

h4 {
    color: light-dark(var(--gray), var(--silver));
    font-size: clamp(1rem, 2.5vw, 1.75rem);
}

p {
    color: light-dark(var(--dark-gray), var(--silver));
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.to-caps {
    text-transform: uppercase;
}

.to-italics {
    font-style: italic;
}

/* ----HEADER STYLES---- */

header {
    background-color: light-dark(var(--black), var(--black));
}

.hero {
    height: clamp(18rem, 50vw, 42rem);
    background-image: conic-gradient(light-dark(var(--trans-dark-black), var(--trans-dark-black)), light-dark(var(--trans-dark-black), var(--trans-dark-black))), url("images/sampleWelcomeIMG.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.hero-main {
    height: 100svh;
}

.hero-content {
    width: clamp(17em, 60%, 50em);
    height: auto;
    margin: 0;
    margin-top: calc(-1 * (var(--nav-height)));
}

.hero-main .hero-content {
    width: clamp(17em, 100%, 80em);
    height: auto;
}

.hero-content p {
    color: var(--silver);
    display: block;
    margin: 1.5rem auto;
    width: fit-content;
    font-weight: 700;
    letter-spacing: min(0.1vw, 0.5px);
    text-align: center;
}

.heading-combo {
    position: relative;
}

.heading-combo h1 {
    position: absolute;
    width: fit-content;
    white-space: nowrap;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 10vw;
    letter-spacing: min(0.25vw, 5px);
}

@media screen and (min-width: 350px) {
    .heading-combo h1 {
        font-size: clamp(2.2rem, 7.5vw, 6.5rem);
    }
}

.hero svg {
    filter: drop-shadow(0 0 5px light-dark(var(--trans-black), var(--trans-black)));
}

/* NAVIGATION STYLES  */

.nav-wrapper {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
    top: var(--nav-height);
    transform: translateY(-100%);
}

#navigation {
    background-color: light-dark(var(--black), var(--black));
    border: 1px solid light-dark(var(--black), var(--black));
    height: var(--nav-height);
    width: 100%;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.6);
    font-size: 16px;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
}

#navigation .nav-bar {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 var(--margins);
    align-items: center;
}

    /* SVG STYLES */

        /* LOGO DEFAULT STYLES */

        .logo-mini {
            width: clamp(0.5em, 10vw, 4em);
            height: auto;
            display: block;
        }

        .logo-full {
            width: clamp(1em, 25vw, 18em);
            height: auto;
            display: none;
            visibility: hidden;
        }

        .logos {
            width: fit-content;
        }

        .lines, .text {
            transition: fill 0.2s ease-in-out;
        }

        @media (hover: hover) and (pointer: fine) {
            .logos:hover .lines, .logos:focus-within .lines {
                fill: light-dark(var(--white), var(--white));
            }

            .logos:hover .text, .logos:focus-within .text {
                fill: light-dark(var(--gold), var(--gold));
            }
        }

        @media only screen and (min-width:360px) {
            .logo-mini {
                display: none;
                visibility: hidden;
            }

            .logo-full {
                display: block;
                visibility: visible;
            }
        }

/* NAVIGATION MENU */

.nav-menu {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 1em;
    align-items: center;
    margin: 0 0 0 auto;
}

.nav-menu li {
    display: grid;
    align-items: center;
    place-content: center;
}

.theme-checkbox-wrapper {
    display: block;
    position: relative;
    width: calc(clamp(0.55em, 3vw, 1.5em) + 2vw);
    height: calc(clamp(0.55em, 3vw, 1.5em) + 2vw);
    cursor: pointer;
}

.theme-checkbox-wrapper input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -1;
    width: calc(clamp(0.55em, 3vw, 1.5em) + 2vw);
    height: calc(clamp(0.55em, 3vw, 1.5em) + 2vw);
}

.theme-checkbox-wrapper svg{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: clamp(0.55em, 3vw, 1.5em);
    height: clamp(0.55em, 3vw, 1.5em);
    transform: translate(-50%, -50%);
}

.checked-light {
    position: relative;
    transform-origin: center;
    fill: light-dark(var(--white), var(--gray));
    transition: fill 0.2s ease-in-out, transform 0.4s ease;
}

[data-theme='dark'] .checked-light{
    transform: rotate(180deg);
}
[data-theme='light'] .checked-light{
    transform: rotate(360deg);
}

.nav-item {
    position: relative;
    padding: 0 calc(clamp(0.1em, 0.5vw, 0.75em) + 0.1rem);
    background-color: transparent;
    font-size: clamp(0.4em, 2vw, 1.5em);
    letter-spacing: clamp(0.3px, 0.075vw, 0.75px);
    border-radius: var(--border-radius);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    text-transform: uppercase;
}

.nav-item:focus-visible {
    color: light-dark(var(--white), var(--white));
}

.nav-item::after {
    content: '';
    width: 100%;
    max-width: 0;
    position: absolute;
    left: 0;
    bottom: -0.2em;
    padding-top: 0.15em;
    border-radius: var(--border-radius);
    background-color: light-dark(var(--gold), var(--gold));
    transition: max-width 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.nav-item:focus-visible::after {
    background-color: light-dark(var(--white), var(--white));
    max-width: 100%;
}

@media (hover: hover) and (pointer: fine) {
    .nav-item:hover {
        color: var(--white);
    }
    .nav-item:hover::after {
        background-color: var(--white);
        max-width: 100%;
    }
    /* .theme-checkbox-wrapper:hover .checked-light {
        fill: light-dark(var(--gray), var(--white));
    } */
}

/* ---- MAIN ---- */

.custom-btn {
    font-size: clamp(0.75rem, 1.5vw, 1.25rem);
    text-align: center;
    display: block;
    width: fit-content;
    padding: clamp(0.5rem, 1vw, 1rem) clamp(0.85rem, 1.75vw, 1.75rem);
    border-radius: var(--border-radius);
    text-transform: uppercase;
    letter-spacing: clamp(0.1px, 0.025vw, 0.3px);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.view-more {
    background-color: light-dark(var(--gold), var(--gold));
    color: light-dark(var(--light-black), var(--light-black));
}

.view-more:focus-visible {
    background-color: light-dark(var(--light-gold), var(--light-gold));
    color: light-dark(var(--black), var(--black));
}

.contact-anchor {
    margin: 0 auto;
    background-color: transparent;
    color: light-dark(var(--gold), var(--gold));
    border: 2px solid light-dark(var(--gold), var(--gold));
}

.contact-anchor:focus-visible {
    background-color: light-dark(var(--gold), var(--gold));
    color: light-dark(var(--black), var(--black));
}



@media (hover: hover) and (pointer: fine) {
    .view-more:hover {
        background-color: light-dark(var(--gold), var(--gold));
    color: light-dark(var(--black), var(--black));
    }

    .contact-anchor:hover {
        background-color: light-dark(var(--gold), var(--gold));
    color: light-dark(var(--black), var(--black));
    }
}



/* ----FOOTER---- */

footer {
    background-color: var(--gold);
    text-align: center;
    box-shadow: 0 0 8px 5px light-dark(var(--mild-shadow), var(--shadow));
}

footer *::selection {
    color: var(--black);
    background-color: var(--white);
}

/* CONTACT SECTION */

#contact h2 {
    color: var(--black);
    margin: 0 auto;
}

.contact-link {
    font-weight: 700;
    color: var(--black);
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    margin: 2rem auto 0;
    background-color: light-dark(var(--light-silver), var(--light-black));
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: inset 0 0 5px 2px light-dark(var(--mild-shadow), var(--shadow));
}

#contact-form input, #contact-form textarea {
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem solid light-dark(var(--gray), var(--dark-silver));
    width: 100%;
    display: block;
    resize: none;
}

#contact-form input::placeholder, #contact-form textarea::placeholder {
    color: light-dark(var(--gray), var(--dark-silver));
}

/* .form-submit default properties found in .custom-btn */

.form-submit {
    background-color: light-dark(var(--red), var(--pink));
    color: light-dark(var(--white), var(--white));
    transition: background-color 0.2s ease-in-out;
}

.form-submit:focus-visible {
    background-color: light-dark(var(--dark-red), var(--dark-pink));
}

@media (hover: hover) and (pointer: fine) {
    .form-submit:hover {
        background-color: light-dark(var(--dark-red), var(--dark-pink));
    }
}

.copyright {
    color: var(--black);
    margin-top: 3rem;
    opacity: 1;
}




