/* ----CSS RESET---- */

    /* 1. Use a more-intuitive box-sizing model */
    *, *::before, *::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    }

    /* 2. Remove default margin */

    * {
    margin: 0;
    }
    body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    }

    /* 3. Improve media defaults */
    
    img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    }

    /* 4. Inherit fonts for form controls */

    input, button, textarea, select {
    font: inherit;
    }

    /* 7. Avoid text overflows */

    p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    }

    /* 8. Improve line wrapping */

    p {
    text-wrap: wrap;
    }
    h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    }

    /* 9. Reset buttons and anchors */

    a, button {
    color: inherit;
    text-decoration: none;
    border: none;
    padding: 0;
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
    }

    /* 10. Reset unordered lists */

    ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }







/* BREAKPOINTS */
/* 320 360 768 1024 1400 1920 */


/* ----GENERAL HTML STYLES---- */

:root {
    --gold:rgb(196, 163, 105);
    --white:rgb(239, 234, 225);
    --white-t: rgba(239, 234, 225, 0.7);
    --black:rgb(28, 29, 30);
    --black-t:rgba(28, 29, 30, 0.7);
    --pink:rgb(165, 129, 129);
    --red:rgb(76, 42, 44);
    --fonts:'Times New Roman', Times, serif;
    font-family: var(--fonts);
    font-size: 1rem;

    --margins: max(0.5rem, 10vw);
    --borders: clamp(0.3em, 2vw, 0.65em);
}

::selection {
    color: var(--white);
    background-color: #c4a369ea;
}

*:focus-visible {
    outline: 2px solid var(--gold);
    border-radius: 0.1rem;
}

body {
    background-color: var(--white);
    color: var(--black);
}

h1, h2, h3, h4 {
    display: block;
    width: fit-content;
}

h1 {
    color: var(--white);
    font-size: clamp(1.5rem, 8.5vw, 4.5rem);
    text-align: center;
}

h2 {
    color: var(--red);
    font-size: clamp(2rem, 4vw, 3rem);

}

h3 {
    color: var(--black);
    font-size: clamp(1.5rem, 3vw, 2.25rem);
}

p {
    color: var(--black);
    font-size: clamp(1rem, 2vw, 1.5rem);
}

/* ----HEADER STYLES---- */

header {
    background-color: var(--black);
}

.welcome {
    height: clamp(18rem, 30vw, 36rem);
    background: url('images/sampleIMG.webp') center no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 1rem 0;
}

#offset {
    visibility: hidden;
    width: 0;
    height: 0;
}

/* NAVIGATION STYLES  */

#navigation {
    background-color: var(--black);
    border: 1px solid var(--black);
    width: 100%;
    padding: clamp(0.5rem, 2vw, 1.2rem) 0;
    z-index: 1000;
    box-shadow: 0 0 8px 4px var(--black-t);
    font-size: 16px;
}

.nav-bar {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 var(--margins);
}

    /* TOGGLE STICKY NAV */

    #navigation:not(.sticky) {
        position: absolute;
    }

    #navigation.sticky {
        position: fixed;
        top: 0;
    }

    /* SVG STYLES */

        /* LOGO DEFAULT STYLES */

        .logo-mini {
            width: clamp(0.5em, 10vw, 4em);
            height: auto;
            display: block;
        }

        .logo-full {
            width: clamp(1em, 25vw, 18em);
            height: auto;
            display: none;
            visibility: hidden;
        }

        .logos {
            width: fit-content;
        }

        .lines, .text {
            transition: fill 0.2s ease-in-out;
        }

        .logos:hover .lines, .logos:focus-within .lines {
            fill: var(--white);
        }

        .logos:hover .text, .logos:focus-within .text {
            fill: var(--gold);
        }

        /* @MEDIA */

        @media only screen and (min-width:360px) {
            .logo-mini {
                display: none;
                visibility: hidden;
            }

            .logo-full {
                display: block;
                visibility: visible;
            }
        }

/* NAVIGATION MENU */

ul.nav-menu {
    color: var(--gold);
    width: fit-content;
    display: flex;
    gap: 1em;
    align-items: center;
    margin: 0 0 0 auto;
}

.nav-item {
    padding: 0 clamp(0.1em, 0.5vw, 0.75em);
    background-color: var(--black);
    font-size: clamp(0.6em, 3vw, 2em);
    transition: color 0.2s ease-in-out;
}

.nav-item:hover, .nav-item:focus-visible {
    color: var(--white);
}

/* ---- MAIN ---- */

.top-section {
    margin-top: clamp(3rem, 15vw, 10rem);
}

/* ABOUT SECTION */

.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 0 var(--margins);
}

.about-right {
    display: block;
}

.about-left {
    display: block;
}

.about-image {
    border: var(--borders) solid var(--gold);
    border-radius: 0.1rem;
    width: 100%;
    display: block;
}

@media screen and (min-width:1600px) {
    .about-wrapper {
        flex-direction: row;
    }
}

/* PORTFOLIO SECTION */

.portfolio-section {
    margin: 0 var(--margins);
}

#portfolio h2 {
    margin: 0 auto;
}

#portfolio-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(16px, 3vw, 64px);
    font-size: 16px;
}

.portfolio-card {
    height: clamp(23em, 30vw, 40em);
    width: 100%;
    display: flex;
    background-color: var(--gold);
    position: relative;
    overflow: hidden;
    text-decoration: none;
    z-index: 1;
    border: var(--borders) solid var(--gold);
    border-radius: 0.1rem;
    box-sizing: border-box;
    transition: border-color 0.2s ease-in-out;
}

.portfolio-card:hover, .portfolio-card:focus {
    border-color: var(--pink);
}

.portfolio-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.portfolio-content {
    background-color: var(--white-t);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    margin-top: auto;
    width: 100%;
    box-shadow: 0px 0px 50px var(--black);
    border-top: var(--borders) solid var(--gold);
    padding-bottom: 0;
    transition: border-color 0.2s ease-in-out, padding-bottom 0.2s ease-in-out;
}

.portfolio-card:hover .portfolio-content, .portfolio-card:focus .portfolio-content {
    border-color: var(--pink);
    padding-bottom: 1em;
}

.portfolio-title {
    opacity: 0.9;
    font-size: clamp(1.3em, 4vw, 2em);
    padding: clamp(0.2em, 1vw, 0.5em);
    margin: 0 auto;
}

@media screen and (min-width:1024px) {
    #portfolio-wrapper {
        flex-direction: row;
    }
    .portfolio-title {
        font-size: clamp(1.5em, 2vw, 2.5em);
    }
}

.view-more {
    background-color: var(--gold);
    color: var(--black);
    font-size: clamp(1.3rem, 4vw, 2rem);
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.01rem;
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 0.1rem;
    margin-top: 2rem;

    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.view-more:hover {
    background-color: var(--pink);
    color: var(--black);
}



/* CONTACT SECTION */

#contact {
    margin: 1rem 10vw;
}

/* ----FOOTER---- */

footer {
    background-color: var(--gold);
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer p::selection {
    color: var(--black);
    background-color: var(--white);
}

.contact-form-wrapper {
    margin: 0 4rem;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: clamp(12rem, 100%, 30rem);
    gap: 0.5rem;
    margin: 0 auto;
}

#contact-form input {
    width: 100%;
    display: block;
}

.required-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media screen and (min-width:1600px) {    
    .required-input {
        flex-direction: row;
    }
}

.copyright {
    margin-top: 3rem;
    opacity: 1;
}






