/* ----CSS RESET---- */

    /* 1. Use a more-intuitive box-sizing model */
    *, *::before, *::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    }

    /* 2. Remove default margin */

    * {
    margin: 0;
    }

    body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    }

    /* 3. Improve media defaults */
    
    img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    }

    /* 4. Inherit fonts for form controls */

    input, button, textarea, select {
    font: inherit;
    }

    /* 7. Avoid text overflows */

    p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    }

    /* 8. Improve line wrapping */

    p {
    text-wrap: wrap;
    }

    h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    }

    /* 9. Reset buttons and anchors */

    a, button {
    color: inherit;
    text-decoration: none;
    border: none;
    padding: 0;
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
    }

    /* 10. Reset unordered lists */

    ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }







/* BREAKPOINTS */
/* 320 360 768 1024 1400 1920 */


/* ----GENERAL HTML STYLES---- */

::selection {
    color: var(--white);
    background-color: var(--gold-t);
}

*:focus-visible {
    outline: 2px solid var(--gold);
    border-radius: 0.1rem;
}

body {
    background-color: var(--primary);
    color: var(--secondary);
}

h1, h2, h3, h4 {
    display: block;
    width: fit-content;
}

h1 {
    color: var(--dk-lt);
    font-size: clamp(1.5rem, 8.5vw, 4.5rem);
    text-align: center;
}

h2 {
    color: var(--tertiary);
    font-size: clamp(2rem, 4vw, 3rem);

}

h3 {
    color: var(--secondary);
    font-size: clamp(1.5rem, 3vw, 2.25rem);
}

p {
    color: var(--secondary);
    font-size: clamp(1rem, 2vw, 1.5rem);
}

/* ----HEADER STYLES---- */

header {
    background-color: var(--secondary);
}

.welcome {
    height: clamp(18rem, 30vw, 36rem);
    background-image: conic-gradient(light-dark(var(--white-t), var(--black-t)) 0 0), url("images/sampleIMG.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 1rem 0;
}

#offset {
    visibility: hidden;
    width: 0;
    height: 0;
}

/* NAVIGATION STYLES  */

.nav-wrapper {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
    top: 0;
}

#navigation {
    background-color: light-dark(var(--secondary), var(--accent));
    border: 1px solid light-dark(var(--secondary), var(--accent));
    width: 100%;
    padding: clamp(0.5rem, 2vw, 1.2rem) 0;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.6);
    font-size: 16px;
}

.nav-bar {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 var(--margins);
}

    /* SVG STYLES */

        /* LOGO DEFAULT STYLES */

        .logo-mini {
            width: clamp(0.5em, 10vw, 4em);
            height: auto;
            display: block;
        }

        .logo-full {
            width: clamp(1em, 25vw, 18em);
            height: auto;
            display: none;
            visibility: hidden;
        }

        .logos {
            width: fit-content;
        }

        .lines, .text {
            transition: fill 0.2s ease-in-out;
        }

        @media (hover: hover) {
            .logos:hover .lines, .logos:focus-within .lines {
                fill: light-dark(var(--black), var(--white));
            }

            .logos:hover .text, .logos:focus-within .text {
                fill: light-dark(var(--white), var(--white));
            }
        }

        @media only screen and (min-width:360px) {
            .logo-mini {
                display: none;
                visibility: hidden;
            }

            .logo-full {
                display: block;
                visibility: visible;
            }
        }

/* NAVIGATION MENU */

ul.nav-menu {
    width: fit-content;
    display: flex;
    gap: 1em;
    align-items: center;
    margin: 0 0 0 auto;
}

.theme-checkbox-wrapper {
    position: relative;
    width: clamp(0.45em, 2vw, 1.5em);
    height: clamp(0.45em, 2vw, 1.5em);
}

.theme-checkbox-wrapper input {
    position: relative;
    opacity: 0;
    z-index: -1;
    width: clamp(0.45em, 2vw, 1.5em);
    height: clamp(0.45em, 2vw, 1.5em);
}

.theme-checkbox-wrapper svg{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: clamp(0.45em, 2vw, 1.5em);
    height: clamp(0.45em, 2vw, 1.5em);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.theme-checkbox-wrapper input:checked ~ svg .checked-light{
    fill: var(--gold);
}
.theme-checkbox-wrapper input:not(:checked) ~ svg .checked-light{
    fill: var(--black);
}

.nav-item {
    position: relative;
    padding: 0 calc(clamp(0.1em, 0.5vw, 0.75em) + 0.1rem);
    background-color: transparent;
    font-size: clamp(0.6em, 3vw, 2em);
    border-radius: 0.1rem;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.nav-item:focus-visible {
    color: light-dark(var(--accent), var(--white));
}

.nav-item::after {
    content: '';
    width: 100%;
    max-width: 0;
    position: absolute;
    left: 0;
    bottom: -0.1rem;
    padding-top: clamp(0.2rem, 1vw, 0.4rem);
    border-radius: 0.1rem;
    background-color: light-dark(var(--accent), var(--white));
    transition: max-width 0.2s ease-in-out;
}

.nav-item:focus-visible::after {
    max-width: 100%;
}

@media (hover: hover) {
    .nav-item:hover {
        color: var(--white);
    }
    .nav-item:hover::after {
        background-color: var(--white);
        max-width: 100%;
    }
    .theme-checkbox-wrapper:hover input:checked ~ svg .checked-light{
        fill: var(--gold);
    }
}

/* ---- MAIN ---- */

.top-section {
    margin-top: clamp(2rem, 8vw, 6rem);
}

/* ABOUT SECTION */

.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 0 var(--margins);
}

.about-right {
    display: block;
}

.about-left {
    display: block;
}

.about-image {
    border: var(--borders) solid var(--accent);
    border-radius: 0.1rem;
    width: 100%;
    display: block;
}

@media screen and (min-width:1600px) {
    .about-wrapper {
        flex-direction: row;
    }
}

/* PORTFOLIO SECTION */

.portfolio-section {
    margin: 0 var(--margins);
}

#portfolio h2 {
    margin: 0 auto;
}

#portfolio-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(16px, 3vw, 64px);
    font-size: 16px;
}

.portfolio-card {
    height: clamp(23em, 30vw, 40em);
    width: 100%;
    display: flex;
    background-color: var(--primary);
    position: relative;
    overflow: hidden;
    text-decoration: none;
    z-index: 1;
    border: var(--borders) solid var(--accent);
    border-radius: 0.1rem;
    box-sizing: border-box;
    transition: border-color 0.2s ease-in-out;
}

.portfolio-card:focus {
    border-color: var(--tertiary);
}

@media (hover: hover) {
    .portfolio-card:hover {
        border-color: var(--tertiary);
    }
}

.portfolio-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    position: absolute;
    object-fit: cover;
    scale: 1.05;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.portfolio-content {
    background-color: light-dark(var(--white-t), var(--black-t));
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    margin-top: auto;
    width: 100%;
    box-shadow: 0px 0px 50px var(--black);
    border-top: calc(var(--borders) * 0.75) solid var(--accent);
    padding-bottom: 0;
    transition: border-color 0.2s ease-in-out, padding-bottom 0.2s ease-in-out;
}

.portfolio-card:focus .portfolio-content {
    border-color: var(--tertiary);
    padding-bottom: 1em;
}

@media (hover: hover) {
    .portfolio-card:hover .portfolio-content {
        border-color: var(--tertiary);
        padding-bottom: 1em;
    }
}

.portfolio-title {
    color: var(--dk-lt);
    opacity: 0.85;
    font-size: clamp(1.3em, 4vw, 2em);
    padding: 0.75em;
    margin: 0 auto;
}

@media screen and (min-width:1024px) {
    #portfolio-wrapper {
        flex-direction: row;
    }
    .portfolio-title {
        font-size: clamp(1.5em, 2vw, 2.5em);
    }
}

.view-more {
    background-color: var(--accent);
    color: var(--black);
    font-size: clamp(1.3rem, 4vw, 2rem);
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.01rem;
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 0.1rem;
    margin-top: 2rem;

    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.view-more:focus-visible {
    background-color: var(--tertiary);
    color: var(--black);
}

@media (hover: hover){
    .view-more:hover {
        background-color: var(--tertiary);
        color: var(--primary);
    }
}



/* CONTACT SECTION */

#contact {
    margin: 1rem 10vw;
}

/* ----FOOTER---- */

footer {
    background-color: var(--accent);
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer p::selection {
    color: var(--black);
    background-color: var(--white);
}

.contact-form-wrapper {
    margin: 0 4rem;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: clamp(12rem, 100%, 30rem);
    gap: 0.5rem;
    margin: 0 auto;
}

#contact-form input {
    width: 100%;
    display: block;
}

.required-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media screen and (min-width:1600px) {    
    .required-input {
        flex-direction: row;
    }
}

.copyright {
    color: var(--black);
    margin-top: 3rem;
    opacity: 1;
}






