/* ----CSS RESET---- */

    /* 1. Use a more-intuitive box-sizing model */
    *, *::before, *::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    }

    /* 2. Remove default margin */

    * {
    margin: 0;
    }

    body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    }

    /* 3. Improve media defaults */
    
    img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    }

    /* 4. Inherit fonts for form controls */

    input, button, textarea, select {
    font: inherit;
    }

    /* 7. Avoid text overflows */

    p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    }

    /* 8. Improve line wrapping */

    p {
    text-wrap: wrap;
    }

    h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    }

    /* 9. Reset buttons and anchors */

    a, button {
    color: inherit;
    text-decoration: none;
    border: none;
    padding: 0;
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
    }

    /* 10. Reset unordered lists */

    ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }





:root {
    /* Also found in html head */
    --gold:oklch(74% 21% 76);
    --white:oklch(97% 2% 85);
    --black:oklch(20% 2% 270);
    --red:oklch(37% 22% 16);
    --pink: oklch(44% 27% 19);
    --silver:oklch(86% 2% 120);
    --gray:oklch(60% 2% 230);

    color-scheme: dark light;

    --fonts:'Times New Roman', Times, serif;
    font-family: var(--fonts);

    /* css variables */
    --dark-gold:oklch(52% 18% 79);
    --dark-white:oklch(95.5% 2% 90);
    --dark-black:oklch(14% 2% 273);
    --dark-red:oklch(32% 20% 14);
    --dark-pink: oklch(40% 25% 17);
    --dark-silver:oklch(83% 2% 125);
    --dark-gray:oklch(40% 2% 235);

    --light-gold:oklch(84% 25% 75);
    --light-white:oklch(98.5% 2% 80);
    --light-black:oklch(25% 2% 267);
    --light-red:oklch(42% 24% 18);
    --light-pink: oklch(48% 29% 21);
    --light-silver:oklch(90% 2% 115);
    --light-gray:oklch(75% 2% 225);

    --gold-t:oklch(76% 23% 79 / 0.8);
    --white-t:oklch(97% 2% 85 / 0.2);
    --black-t:oklch(20% 2% 270 / 0.5);
    --red-t:oklch(35% 22% 16 / 0.8);
    --pink-t: oklch(70% 20% 16 / 0.8);
    --silver-t:oklch(84% 2% 120 / 0.2);
    --gray-t:oklch(60% 2% 230 / 0.155);

    --white-t2:oklch(97% 2% 85 / 0.4);
    --black-t2:oklch(20% 2% 270 / 0.8);
    --silver-t2:oklch(84% 2% 120 / 0.2);
    
    --dark-gray-t:oklch(45% 2% 235 / 0.4);
    --light-black-t:oklch(25% 2% 267 / 0.3);

    --margins: max(0.5rem, 10vw);
    --borders: clamp(0.3em, 2vw, 0.65em);
    --border-radius: 0.15rem;
}

/* BREAKPOINTS */
/* 320 360 768 1024 1400 1920 */


/* ----GENERAL HTML STYLES---- */

::selection {
    color: var(--white);
    background-color: var(--gold-t);
}

*:focus-visible {
    outline: 2px solid var(--gold);
    border-radius: var(--border-radius);
}

body {
    background-color: light-dark(var(--light-silver), var(--light-black));
    color: light-dark(var(--black), var(--white));
    transition: background-color 0.2s ease;
}

main > section {
    margin-top: 2rem;
}

section > div {
    margin: 0 var(--margins);
}

h1, h2, h3, h4 {
    display: block;
    width: fit-content;
}

/* Default h1 styles */

h1 {
    color: light-dark(var(--black), var(--white));
    font-size: clamp(1.5rem, 8.5vw, 4.5rem);
    text-align: center;
}

/* h1 hidden */

.visuallyhidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0 0 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

h2 {
    color: light-dark(var(--light-black), var(--dark-white));
    font-size: clamp(2rem, 4vw, 3rem);

}

h3 {
    color: light-dark(var(--light-red), var(--pink));
    font-size: clamp(1.5rem, 3vw, 2.25rem);
}

p {
    color: light-dark(var(--dark-gray), var(--silver));
    font-size: clamp(1rem, 2vw, 1.5rem);
}

/* ----HEADER STYLES---- */

header {
    background-color: light-dark(var(--black), var(--black));
}

.hero {
    height: clamp(18rem, 30vw, 36rem);
    background-image: conic-gradient(light-dark(var(--light-black-t), var(--black-t)), light-dark(var(--light-black-t), var(--black-t))), url("images/sampleIMG.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.hero div {
    width: clamp(17em, 60%, 50em);
    height: auto;
}

.hero div svg {
    filter: drop-shadow(0 0 5px light-dark(var(--black-t2), var(--light-black)));
}

/* NAVIGATION STYLES  */

.nav-wrapper {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
    top: 0;
}

#navigation {
    background-color: light-dark(var(--black), var(--black));
    border: 1px solid light-dark(var(--black), var(--black));
    width: 100%;
    padding: clamp(0.5rem, 2vw, 1.2rem) 0;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.6);
    font-size: 16px;
}

.nav-bar {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 var(--margins);
}

    /* SVG STYLES */

        /* LOGO DEFAULT STYLES */

        .logo-mini {
            width: clamp(0.5em, 10vw, 4em);
            height: auto;
            display: block;
        }

        .logo-full {
            width: clamp(1em, 25vw, 18em);
            height: auto;
            display: none;
            visibility: hidden;
        }

        .logos {
            width: fit-content;
        }

        .lines, .text {
            transition: fill 0.2s ease-in-out;
        }

        @media (hover: hover) and (pointer: fine) {
            .logos:hover .lines, .logos:focus-within .lines {
                fill: light-dark(var(--white), var(--white));
            }

            .logos:hover .text, .logos:focus-within .text {
                fill: light-dark(var(--gold), var(--gold));
            }
        }

        @media only screen and (min-width:360px) {
            .logo-mini {
                display: none;
                visibility: hidden;
            }

            .logo-full {
                display: block;
                visibility: visible;
            }
        }

/* NAVIGATION MENU */

ul.nav-menu {
    width: fit-content;
    display: flex;
    gap: 1em;
    align-items: center;
    margin: 0 0 0 auto;
}

.theme-checkbox-wrapper {
    display: block;
    position: relative;
    width: calc(clamp(0.55em, 3vw, 1.5em) + 2vw);
    height: calc(clamp(0.55em, 3vw, 1.5em) + 2vw);
    cursor: pointer;
}

.theme-checkbox-wrapper input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -1;
    width: calc(clamp(0.55em, 3vw, 1.5em) + 2vw);
    height: calc(clamp(0.55em, 3vw, 1.5em) + 2vw);
}

.theme-checkbox-wrapper svg{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: clamp(0.55em, 3vw, 1.5em);
    height: clamp(0.55em, 3vw, 1.5em);
    transform: translate(-50%, -50%);
}

.checked-light {
    position: relative;
    transform-origin: center;
    fill: light-dark(var(--white), var(--gray));
    transition: fill 0.2s ease-in-out, transform 0.4s ease;
}

[data-theme='dark'] .checked-light{
    transform: rotate(180deg);
}
[data-theme='light'] .checked-light{
    transform: rotate(360deg);
}

.nav-item {
    position: relative;
    padding: 0 calc(clamp(0.1em, 0.5vw, 0.75em) + 0.1rem);
    background-color: transparent;
    font-size: clamp(0.6em, 3vw, 2em);
    border-radius: var(--border-radius);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.nav-item:focus-visible {
    color: light-dark(var(--white), var(--white));
}

.nav-item::after {
    content: '';
    width: 100%;
    max-width: 0;
    position: absolute;
    left: 0;
    bottom: -0.2em;
    padding-top: 0.15em;
    border-radius: var(--border-radius);
    background-color: light-dark(var(--gold), var(--gold));
    transition: max-width 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.nav-item:focus-visible::after {
    background-color: light-dark(var(--white), var(--white));
    max-width: 100%;
}

@media (hover: hover) and (pointer: fine) {
    .nav-item:hover {
        color: var(--white);
    }
    .nav-item:hover::after {
        background-color: var(--white);
        max-width: 100%;
    }
    /* .theme-checkbox-wrapper:hover .checked-light {
        fill: light-dark(var(--gray), var(--white));
    } */
}

/* ---- MAIN ---- */

.custom-btn {
    font-size: clamp(1rem, 3vw, 2rem);
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.01rem;
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    border-radius: var(--border-radius);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.view-more {
    background-color: light-dark(var(--gold), var(--gold));
    color: light-dark(var(--light-black), var(--light-black));
}

.view-more:focus-visible {
    background-color: light-dark(var(--light-gold), var(--light-gold));
    color: light-dark(var(--black), var(--black));
}

.contact-anchor {
    background-color: light-dark(var(--gold), var(--gold));
    color: light-dark(var(--light-black), var(--light-black));
}

.contact-anchor:focus-visible {
    background-color: light-dark(var(--light-gold), var(--light-gold));
    color: light-dark(var(--black), var(--black));
}



@media (hover: hover) and (pointer: fine) {
    .view-more:hover {
        background-color: light-dark(var(--light-gold), var(--light-gold));
    color: light-dark(var(--black), var(--black));
    }

    .contact-anchor:hover {
        background-color: light-dark(var(--light-gold), var(--light-gold));
    color: light-dark(var(--black), var(--black));
    }
}



/* ----FOOTER---- */

footer {
    background-color: var(--gold);
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    box-shadow: 0 0 8px 5px light-dark(var(--black-t), var(--black));
}

footer *::selection {
    color: var(--black);
    background-color: var(--white);
}

/* CONTACT SECTION */

#contact h2 {
    color: var(--black);
    margin: 0 auto;
}

.contact-link {
    font-weight: 700;
    color: var(--black);
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    margin: 2rem auto 0;
    background-color: light-dark(var(--light-silver), var(--light-black));
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: inset 0 0 5px 2px light-dark(var(--black-t), var(--dark-black));
}

#contact-form input, #contact-form textarea {
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem solid light-dark(var(--gray), var(--dark-silver));
    width: 100%;
    display: block;
    resize: none;
}

#contact-form input::placeholder, #contact-form textarea::placeholder {
    color: light-dark(var(--gray), var(--dark-silver));
}

/* .form-submit default properties found in .custom-btn */

.form-submit {
    background-color: light-dark(var(--light-red), var(--pink));
    color: light-dark(var(--white), var(--white));
    transition: background-color 0.2s ease-in-out;
}

.form-submit:focus-visible {
    background-color: light-dark(var(--red), var(--dark-pink));
}

@media (hover: hover) and (pointer: fine) {
    .form-submit:hover {
        background-color: light-dark(var(--red), var(--dark-pink));
    }
}

.copyright {
    color: var(--black);
    margin-top: 3rem;
    opacity: 1;
}




