/* ----CSS RESET---- */

    /* 1. Use a more-intuitive box-sizing model */
    *, *::before, *::after {
    box-sizing: border-box;
    }

    /* 2. Remove default margin */

    * {
    margin: 0;
    }
    body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    }

    /* 3. Improve media defaults */
    
    img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    }

    /* 4. Inherit fonts for form controls */

    input, button, textarea, select {
    font: inherit;
    }

    /* 7. Avoid text overflows */

    p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    }

    /* 8. Improve line wrapping */

    p {
    text-wrap: wrap;
    }
    h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    }

    /* 9. Reset buttons and anchors */

    a, button {
    color: inherit;
    text-decoration: none;
    border: none;
    padding: 0;
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
    }

    /* 10. Reset unordered lists */

    ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }










/* ----GENERAL HTML STYLES---- */

:root {
    --gold:#c4a369;
    --white:#efeae1;
    --black:#1c1d1e;
    --silver:#c4c4c5;
    --grey:#909091;
    --tan:#c9b49f;
    --brown:#897466;
    --pink:#a58181;
    --red:#4c2a2c;
    --fonts:'Times New Roman', Times, serif;
    font-family: var(--fonts);
    font-size: 11px;
}

@media screen and (min-width: 500px) {
    :root {
        font-size: 13px;
    }
}

@media screen and (min-width: 700px) {
    :root {
        font-size: 17px;
    }
}

@media screen and (min-width: 900px) {
    :root {
        font-size: 21px;
    }
}

@media screen and (min-width: 1200px) {
    :root {
        font-size: 24px;
    }
}

@media screen and (min-width: 1600px) {
    :root {
        font-size: 28px;
    }
}

::selection {
    color: var(--white);
    background-color: #c4a369ea;
}

*:focus-visible {
    outline: 2px solid var(--gold);
    border-radius: 0.1rem;
}

body {
    background-color: var(--white);
    color: var(--black);
}

h2 {
    color: var(--red);
}

h3 {
    color: var(--black);
}

p {
    color: var(--red);
}

/* ----HEADER STYLES---- */

header {
    background-color: var(--black);
}

.welcome {
    height: 18rem;
    background: url('images/sampleWelcomeIMG.jpg') center no-repeat;
    background-size: cover;
    background-position-y: 38%;
    display: block;
}

.welcome h1 {
    font-size: 3rem;
    color: var(--white);
    width: fit-content;
    margin: 0 auto;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    filter: drop-shadow(0rem 0rem .3rem var(--grey));
}

/* NAVIGATION STYLES */

#navigation {
    background-color: var(--black);
    border: 1px solid var(--black);
    width: 100%;
    padding: 0.5rem 0;
    z-index: 100;
    box-shadow: 0 0.15rem 1rem 0.05rem var(--black);
}

.nav-bar {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 10vw;
}

    /* TOGGLE STICKY NAV */

    #navigation:not(.sticky) {
        position: absolute;
    }

    #navigation.sticky {
        position: fixed;
        top: 0;
    }

    /* SVG STYLES */

        /* LOGO DEFAULT STYLES */

        .logo-mini {
            width: 4rem;
            height: auto;
            display: block;
        }

        .logo-full {
            width: 10rem;
            height: auto;
            display: none;
            visibility: hidden;
        }

        .logos {
            width: fit-content;
        }

        .lines, .text {
            transition: fill 0.2s ease-in-out;
        }

        .logos:hover .lines, .logos:focus-within .lines {
            fill: var(--white);
        }

        .logos:hover .text, .logos:focus-within .text {
            fill: var(--gold);
        }

        /* @MEDIA */

        @media only screen and (min-width:350px) {
            .logo-mini {
                display: none;
                visibility: hidden;
            }

            .logo-full {
                display: block;
                visibility: visible;
            }
        }

        @media only screen and (min-width:900px) {
            .logo-full {
                width: 14rem;
            }
        }

/* NAVIGATION MENU */

ul.nav-menu {
    color: var(--gold);
    width: fit-content;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 0 0 0 auto;
}

.nav-item {
    padding: 0 0.25rem;
    background-color: var(--black);
    font-size: 0.8rem;
    transition: color 0.2s ease-in-out;
}

    /* @MEDIA */

    @media only screen and (min-width:350px) {
        .nav-item {
            font-size: 1rem;
        }
    }

    @media only screen and (min-width:900px) {
        .nav-item {
            font-size: 1.15rem;
        }
    }

.nav-item:hover, .nav-item:focus-visible {
    color: var(--white);
}

/* ---- MAIN ---- */

/* PORTFOLIO SECTION */

#portfolio {
    padding: 8rem 0 5rem;
}

#portfolio-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 4rem;
    margin: 0 auto;
    width: 100%;
}

.album-card {
    height: 23em;
    width: clamp(10em, 100%, 18em);
    font-size: 1.5em;
    border-radius: 0.05em;
    background-color: var(--gold);
    position: relative;
    overflow: hidden;
    text-decoration: none;
    z-index: 1;
    border: 0.3em solid var(--gold);
    transition: border-color 0.2s ease-in-out;
}

.album-card:hover {
    border-color: var(--pink);
}

.album-directory {
    width: 100%;
    height: 100%;
    display: flex;
}

.album-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.album-content {
    background-color: var(--white);
    margin-top: auto;
    width: 100%;
    min-height: 4.5em;
    padding: 0.25em;
    box-shadow: 0px 0px 50px var(--black);
    border-top: 0.2em solid var(--gold);
    transition: min-height 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.album-card:hover .album-content {
    min-height: 5em;
    border-color: var(--pink);
}

.album-title {
    font-size: 1.5em;
}

.album-description {
    font-size: 1em;
}

@media screen and (min-width:1600px) {
    #portfolio-wrapper {
        flex-direction: row;
        gap: 2rem;
    }
    .album-card {
        height: 18em;
        width: clamp(8em, 100%, 12em);
    }
    .album-title {
        font-size: 1em;
    }

    .album-description {
        font-size: 0.7em;
    }
}

/* PACKAGES SECTION */
#packages {
    padding-bottom: 1rem;
}

#packages h2 {
    margin-left: 10vw;
}

.packages-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 5vw;
    margin: 0 10vw;
}

.packages-container section {
    background-color: var(--tan);
    padding: 0 1rem 0 0.75rem;
    border-left: 2px solid var(--black);
    border-right: 2px solid var(--black);
    border-radius: 0.25rem;
}

.packages-container section h3 {
    color: var(--white);
}

.packages-container section p {
    color: var(--black);
}

#packages a {
    height: max-content;
}

#packages ul {
    list-style: disc;
    margin-left: 1rem;
}

#packages li {
    font-size: 0.8rem;
}

/* CONTACT SECTION */

#contact {
    margin: 1rem 10vw;
}

#contact h2 {
    padding-bottom: 15rem;
}

/* ----FOOTER---- */

footer {
    background-color: var(--gold);
    text-align: center;
    padding: 1rem 0;
}

footer p::selection {
    color: var(--white);
    background-color: #909091a1;
}