.gallery-wrapper {
    display: grid;
    grid-template-columns: auto;
    min-height: 60svh;
    width: 100%;
    gap: 16px;
    padding: 16px;
}

@supports (display: grid-lanes) {
    .gallery-wrapper {
        display: grid-lanes;
    }
}

@media screen and (min-width: 576px) {
    .gallery-wrapper{
        grid-template-columns: auto auto;
    }
    
}

@media screen and (min-width: 1024px) {
    .gallery-wrapper{
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width: 1400px) {
    .gallery-wrapper{
        grid-template-columns: auto auto auto auto;
    }
}

@media screen and (min-width: 1920px) {
    .gallery-wrapper{
        grid-template-columns: auto auto auto auto auto;
    }
}

.gallery-item img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
}

@supports (display: grid-lanes) {
    .gallery-item img {
        aspect-ratio: 0;
    }
}