.gallery-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

@media screen and (min-width: 768px) {
    .gallery-wrapper{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .gallery-wrapper{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.gallery-item {
    position: relative;;
    aspect-ratio: 1 / 1;
}

.gallery-item img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}