
h2 {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.portfolio-galleries-wrapper {
    display: grid;
    min-height: 60svh;
    grid-template-columns: 1fr;
    gap: 16px;
    margin-bottom: 16px;
}

@media screen and (min-width: 576px) {
    .portfolio-galleries-wrapper{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .portfolio-galleries-wrapper{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.gallery-card {
    height: 100vw;
    width: 100%;
    display: flex;
    background-color: light-dark(var(--light-white), var(--light-black));
    position: relative;
    overflow: hidden;
    text-decoration: none;
    z-index: 1;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    transition: scale 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0.5em 0.5em 0.5em light-dark(var(--shadow), var(--deep-shadow));
}

.gallery-image {
    position: relative;
    pointer-events: none;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: scale 0.25s ease;
}

.gallery-image::before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(../images/onerror.webp);
    object-fit: cover;
    background-position: center;
    display: block;
    position: absolute;
}

.gallery-card:focus .gallery-image {
    scale: 1.1;
}

.gallery-content {
    height: auto;
    position: absolute;
    bottom: 0;
    background-color: light-dark(var(--trans-black), var(--trans-dark-black));
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    margin-top: auto;
    width: 100%;
    box-shadow: 0px 0px 8px 2px light-dark(var(--shadow), var(--deep-shadow));
    border-top: 1px solid light-dark(var(--trans-gray), var(--trans-gray));
    padding-bottom: 0;
    transition: padding-bottom 0.3s ease;
}

.gallery-title {
    color: light-dark(var(--white), var(--light-silver));
    font-size: 6vw;
    padding: 0.75em;
    margin: 0 auto;
}

@media (hover: hover) and (pointer: fine) {
    .gallery-card:hover .gallery-image {
        scale: 1.1;
    }
    
    .gallery-card:hover .gallery-content {
        padding-bottom: clamp(1em, 1vw, 2em);
    }
}

@media screen and (min-width:576px) {
    #gallery-wrapper {
        flex-direction: row;
    }
    .gallery-card {
        height: min(40vw, 40em);
    }
    .gallery-title {
        font-size: max(1em, 3vw);
    }
    .gallery-card:focus .gallery-content {
    padding-bottom: clamp(1em, 1vw, 2em);
    }
}

@media screen and (min-width:1024px) {
    .gallery-card {
        height: clamp(23em, 30vw, 40em);
    }
    .gallery-title {
        font-size: max(1.5em, 2vw);
    }
}

#load-more-btn {
    margin: 1rem auto;
    background-color: var(--gold);
    color: var(--black);
}